@import '../styles/_variables.scss';

.intake-form-container {
  background-color: $palest-grey;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intake-form {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 20px;
}

.intake-form-title {
  font-size: 30px;
}