@import 'styles/shared.scss';

/*
==========================
INFO ROW
==========================
*/
.user-card-info--container {
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: start;
  align-items: end;
  grid-gap: 20px;
}

.user-card-info--label,
.user-card-info--value {
  text-align: left;
}

.user-card-info--label {
  text-transform: capitalize;
  font-size: 13px;
  color: $med-grey;
}

.user-card-info--value {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  @include editableInput;
}

/*
==========================
MEDIA QUERIES
==========================
*/
@media (max-width: 850px) {
  .user-card-info--container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .user-card-info--container {
    grid-template-columns: 1fr;
  }
}
