@import "styles/shared.scss";

.form-btn--save {
  @include system-button--sub($blue, $blue-hover);
  padding: 8px 16px;
  float: right;
}

.editable-mode--controls {
  float: clear;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "delete . cancel save";
  align-items: center;
  grid-gap: 10px;

  .form-btn--edit,
  .form-btn--save {
    grid-area: save;
    @include system-button($blue, $blue-hover);
  }

  .form-btn--edit {
    padding: 10px 0px;
  }
}

.form-btn--delete {
  grid-area: delete;
  justify-self: start;

  background-color: white;
  border: none;
  color: $attention-red--light;
  padding-left: 0px;
  cursor: pointer;

  text-align: left;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: $attention-red;
  }
}

.form-btn--cancel {
  grid-area: cancel;
  @include system-button--sub($lighter-grey, $grey);
  width: 90px;
  justify-self: end;
}

@media (max-width: 600px) {
  .editable-mode--controls {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "delete cancel save";
    grid-gap: 10px;
    .form-btn--edit {
      padding: 10px 0px;
    }
  }
  .form-btn--save {
    margin-top: 20px;
  }
}
