@import 'styles/_shared.scss';

.citations-container {
  grid-area: citation;
}

.citations-title {
  font-size: 20px;
  color: $dark-grey;
  margin-bottom: 10px;
}

.citations-form {
  // form styling changes
  box-shadow: $box-shadow;
  background-color: white;
  padding: 30px;
  
  .form-question {
    color: $med-grey;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
  }
  .form-answer,
  .form-input {
    font-size: 16px;
  }
  .form-input {
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted $grey;
    padding-left: 0px;
  }
  .form-QA--row {
    grid-gap: 30px;
    background-color: $palest-grey;
    padding: 20px;
    width: calc(100% + 20px);
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 30px;
  }
}