@import 'styles/shared.scss';

/*
==========================
NAME ROW
==========================
*/
.user-card-name--container {
  grid-area: name;
  display: grid;
  grid-template-columns: 50px fit-content(650px) fit-content(250px) fit-content(250px) 1fr;
  align-items: end;
  justify-items: start;
  grid-gap: 15px;
}
.user-card-name {
  font-size: 30px;
  width: 100%;
}
.user-card-name,
.user-card-aka {
  text-transform: capitalize;
  @include editableInput;
}
.name--aka {
  border: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}
.name-finalized {
  border: none;
  box-shadow: none;
  width: 100%;
}
.user-card-aka {
  font-size: 22px;
  margin-left: 8px;
}
.user-card--edit-btn {
  justify-self: end;
  align-self: center;
  @include system-button--sub($blue, $blue-hover);
  padding: 10px;
  margin-top: 7px;
}
/*
==========================
AVATAR
==========================
*/
.user-card--avatar {
  object-fit: contain;
  width: 50px;
  height: auto;
  border-radius: 50%;
  box-shadow: $box-shadow;
}
/*
==========================
MEDIA QUERIES
==========================
*/

@media (max-width: 600px) {
  .user-card-name--container,
  .user-card--avatar {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    line-height: 16px;
  }
  .user-card-name,
  .user-card-aka {
    display: block;
  } 
}

@media (max-width: 500px) {
  .user-card-name,
  .user-card-aka {
    display: block;
  } 
}