/*
==========================
COLORS
==========================
*/
$theme-color: #15cf89;
$theme-color--hover: rgb(25, 184, 123);

$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #adadad;
$lighter-grey: #D9D9D9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$attention-red: #f37070;
$attention-red--light: #efb0b0;

$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-dark: 0px 3px 6px $dark-grey;

/*
==========================
SIZING
==========================
*/
$max-width: 1180px;
/*
==========================
Z-INDEXES
==========================
*/
$z-modal: 400;
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;
