/*
==========================
COLORS
==========================
*/
$darkest-grey: #252525;
$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #adadad;
$lighter-grey: #d9d9d9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$blue: rgb(66, 143, 226);
$blue-hover: rgb(79, 133, 192);
$blue-palest: #f3f7fc;

$attention-red: #f37070;
$attention-red--light: #efb0b0;

$theme-color: $blue;
$theme-color--hover: $blue-hover;
$theme-color--background: $blue-palest;

$theme-green: #15cf89;
$theme-green--hover: rgb(25, 194, 129);
$theme-green--light: #78d5b2;

$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-dark: 0px 3px 6px $dark-grey;

/*
==========================
SIZING & STYLING
==========================
*/
$max-width: 1180px;
$button-border-radius: 20px;
$underline-dotted: 3px dotted $grey;
@mixin section-title {
  font-size: 20px;
  color: $dark-grey;
  margin-bottom: 10px;
}
/*
==========================
Z-INDEXES
==========================
*/
$z-modal: 400;
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;

/*
==========================
EDITABLE TEXT FIELDS
==========================
*/

@mixin editableInput--disabled {
  border: none;
  background-color: white;
  color: $darker-grey;
}

@mixin editableInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid $lighter-grey;
  padding-bottom: 5px;
  color: $darker-grey;
  &:disabled {
    @include editableInput--disabled;
  }
}

/*
==========================
MAIN BUTTONS
==========================
*/
@mixin system-button($background, $hover) {
  width: 150px;
  font-size: 14px;
  background-color: $background;
  color: white;
  text-transform: uppercase;
  border-radius: $button-border-radius;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: none;
  display: block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $hover;
  }
}

/*
==========================
FORMS
==========================
*/
@mixin form-label {
  color: $light-grey;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

@mixin form-input {
  border: 1px solid $light-grey;
  padding: 5px;
  color: $dark-grey;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin form-title {
  font-size: 40px;
  color: $grey;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}

@mixin hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid $pale-grey;
  margin-top: 20px;
}
