/*
==========================
COLORS
==========================
*/
$darker-grey: #4f4f4f;
$dark-grey: #7f7f7f;
$med-grey: rgb(158, 158, 158);
$grey: #adadad;
$lighter-grey: #D9D9D9;
$light-grey: #e6e6e6;
$pale-grey: #efefef;
$palest-grey: #f8f8f8;

$blue: rgb(66, 143, 226);
$blue-hover: rgb(79, 133, 192);
$blue-palest: #F3F7FC;

$attention-red: #f37070;
$attention-red--light: #efb0b0;

$theme-color: $blue;
$theme-color--hover: $blue-hover;
$theme-color--background: $blue-palest;

$box-shadow: 0px 3px 6px $light-grey;
$box-shadow-dark: 0px 3px 6px $dark-grey;

/*
==========================
SIZING
==========================
*/
$max-width: 1180px;
/*
==========================
Z-INDEXES
==========================
*/
$z-modal: 400;
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;
/*
==========================
EDITABLE TEXT FIELDS
==========================
*/

@mixin editableInput--disabled {
  border: none;
  background-color: white;
  color: $darker-grey;
}

@mixin editableInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid $lighter-grey;
  padding-bottom: 5px;
  color: $darker-grey;
  &:disabled {
    @include editableInput--disabled;
  }
}