

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 15px;
}
