@import '../../styles/shared.scss';

/*
==========================
USER CARD
==========================
*/
.user-card--container {
  max-width: $max-width;
  width: 80vw;
  border: 1px solid $light-grey;
  border-top: 6px solid $theme-color;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: $box-shadow;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  grid-template-areas: "image name name name"
              "image info info info";
  justify-items: start;
  align-items: center;

  color: $darker-grey;
}

.user-card--edit-btn {
  background-color: $theme-color;
  color: white;
  border: none;
  padding: 5px 25px;
  grid-column: 1 / -1;
  justify-self: end;
  box-shadow: $box-shadow;
}


/*
==========================
MEDIA QUERIES
==========================
*/
@media (max-width: 600px) {
  .user-card--container {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "name" "info";
    justify-items: start;
  }
}
