@import "styles/shared.scss";

.user-profile--container {
  background-color: $theme-color--background;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 100px;
}

.user-profile--content-container {
  margin: 0 auto;
  max-width: $max-width;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card card card" "notes notes status" "citation citation status";
  grid-gap: 50px;
}

@media (max-width: 600px) {
  .user-profile--content-container {
    grid-template-columns: 1fr;
    grid-template-areas: "card" "status" "notes" "citation";
    grid-gap: 20px;
  }
}