@import "styles/shared.scss";

.user-profile--container {
  background-color: $theme-color--background;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 100px;
}

.user-profile--content-container {
  margin: 0 auto;
  max-width: $max-width;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "nav . ." "card card card" "notes notes status" "citation citation status";
  grid-gap: 50px;
}

.user-profile--nav {
  margin-top: 10px;
  grid-area: nav;
  margin-bottom: -50px;
  color: $darker-grey;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  .fa-arrow-left {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  &:hover {
    color: $theme-color;
  }
}
@media (max-width: 600px) {
  .user-profile--content-container {
    grid-template-columns: 1fr;
    grid-template-areas: "card" "status" "notes" "citation";
    grid-gap: 20px;
  }
}