@import "styles/shared.scss";

.user-profile--container {
  background-color: $theme-color--background;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
}

.user-profile--content-container {
  margin: 0 auto;
  width: 85vw;
  max-width: $max-width;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card card card" "citation citation status";
  grid-gap: 50px;
}
