@import '../../styles/shared.scss';
/*
==========================
AVATAR
==========================
*/
.user-card--avatar {
  grid-area: image;
  object-fit: contain;
  width: 80%;
  height: auto;
  border-radius: 50%;
  box-shadow: $box-shadow;
}
/*
==========================
NAME ROW
==========================
*/
.user-card-name--container {
  grid-area: name;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  justify-items: start;
  grid-gap: 15px;
}

.user-card-name,
.user-card-aka {
  text-transform: capitalize;
}
.user-card-name {
  font-size: 30px;
  @include editableInput;
}
.name--aka {
  border-bottom: none;
  font-size: 16px;
  line-height: 28px;
  color: $dark-grey;
}
.name-finalized {
  border-bottom: none;
}
.user-card-aka {
  font-size: 22px;
  margin-left: 10px;
}
/*
==========================
MEDIA QUERIES
==========================
*/

@media (max-width: 600px) {
  .user-card-name--container,
  .user-card--avatar {
    justify-self: center;
  }
  .user-card-name,
  .user-card-aka {
    display: block;
  } 
}