@import '../../styles/shared.scss';

/*
==========================
INFO ROW
==========================
*/
.user-card-info--container {
  grid-area: info;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: end;
  grid-gap: 20px;
}

.user-card-info--label,
.user-card-info--value {
  text-align: left;
}

.user-card-info--label {
  text-transform: capitalize;
  color: $med-grey;
}

.user-card-info--value {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  @include editableInput;
}

/*
==========================
MEDIA QUERIES
==========================
*/
@media (max-width: 850px) {
  .user-card-info--container {
    grid-auto-flow: row;
  }
}