/*
==========================
FONT
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
STYLING
==========================
*/
/*
==========================
Z-INDEXES
==========================
*/
/*
==========================
PORTALS
==========================
*/
/*
==========================
CARDS
==========================
*/
/*
==========================
VOYAGE CARDS
==========================
*/
/*
==========================
MAIN BUTTONS
==========================
*/
/*
==========================
FORMS
==========================
*/
/*
==========================
NEWSFEED CARDS
==========================
*/
/*
==========================
ORIGINAL PROJECT VARIABLES
==========================
*/
/*
==========================
DYNAMIC FORM
==========================
*/
.dynamic-form {
  display: flex;
  padding-top: 20px;
  justify-content: center; }

.form-QA {
  margin-bottom: 40px; }

/*
==========================
QUESTION
==========================
*/
.form-question {
  font-size: 16px;
  color: #7f7f7f;
  display: block;
  padding-bottom: 10px; }

/*
==========================
QUESTION SUBTEXT
==========================
*/
.form-subtext {
  font-size: 12px;
  color: #bbbbbb;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 10px; }

/*
==========================
SUBMIT BUTTON
==========================
*/
.form-btn {
  width: 150px;
  font-size: 14px;
  background-color: #15cf89;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: none;
  display: block;
  box-shadow: 0px 3px 6px #e6e6e6;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer; }
  .form-btn:hover {
    background-color: #19c281; }

.form-btn--disabled {
  width: 150px;
  font-size: 14px;
  background-color: #D9D9D9;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: none;
  display: block;
  box-shadow: 0px 3px 6px #e6e6e6;
  margin: 0 auto;
  margin-top: 20px;
  cursor: disabled;
  width: 200px; }
  .form-btn--disabled:hover {
    background-color: #D9D9D9; }

.hline,
.form-hline {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid #efefef;
  margin-top: 20px; }

/*
==========================
ANSWER FONT
==========================
*/
.form-answer {
  font-size: 13.5px;
  color: #7f7f7f;
  margin-left: -10px;
  padding-left: 10px; }

.form-checkbox-answer {
  font-size: 13.5px;
  color: #7f7f7f;
  width: fit-content;
  margin-left: -10px;
  padding-left: 10px; }

/*
==========================
INPUT & TEXTAREA & DATE
==========================
*/
.form-input,
.form-date {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #7f7f7f;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #e6e6e6; }

.form-date {
  padding: 8px; }

.form-text-area {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #7f7f7f;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #e6e6e6;
  min-height: 50px;
  max-height: 50px;
  max-width: 100%;
  min-width: 100%; }

/*
==========================
ERROR TEXT
==========================
*/
.errorText {
  color: #efb0b0;
  position: relative;
  margin-top: -20px;
  display: inline-block;
  font-size: 12px; }

/*
==========================
DROPDOWN
==========================
*/
.form-dropdown {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 10px;
  color: #7f7f7f;
  font-size: 13.5px;
  margin-top: 5px; }

.form-dropdown > option {
  width: 418px !important; }

/*
==========================
DROPDOWN w/ CHECKBOX
==========================
*/
.search-input-box {
  margin-bottom: 10px;
  min-width: 180px;
  border: none;
  box-shadow: 0px 3px 6px #e6e6e6;
  padding: 5px;
  display: none; }

.search-input-box::placeholder {
  color: #e6e6e6; }

.filter-dropdown-box {
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 420px;
  display: none;
  position: absolute;
  box-shadow: 0px 3px 6px #e6e6e6;
  z-index: 10;
  max-height: 120px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  padding: 10px;
  color: #7f7f7f;
  font-size: 12px;
  margin-left: -9px; }

.filter-dropdown-hide {
  display: none; }

.filter-dropdown-btn-5,
.filter-dropdown-btn-101 {
  min-width: 180px;
  width: 100%;
  color: #7f7f7f;
  font-size: 12px;
  background-color: white;
  border: 1px solid #e6e6e6;
  padding: 7px;
  display: block; }

.filter-dropdown-btn-5:hover #dropdown_multiple-5 {
  display: block; }

.filter-dropdown-btn-101:hover #dropdown_multiple-101 {
  display: block; }

/*
==========================
CHECKBOX STYLING
==========================
*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
  height: min-content; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: default; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-left: 0px;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid #bbbbbb; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #bbbbbb; }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #bbbbbb; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: 1.5px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*
==========================
CHECKBOX STYLING (2 COLUMNS)
==========================
*/
.checkbox-2-column-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a b"; }

.checkbox-column-1 {
  grid-area: a;
  display: grid;
  grid-template-rows: repeat(3, 1fr); }

.checkbox-column-2 {
  grid-area: b;
  display: grid;
  grid-template-rows: repeat(3, 1fr); }

/*
==========================
RADIO STYLING
==========================
*/
.radio-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content; }

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: default; }

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  margin-left: 0px;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #bbbbbb; }

.radio-checkmark--badge {
  position: absolute;
  margin-left: 110px;
  margin-top: 100px;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #bbbbbb; }

.special-badge-input {
  margin-top: 10px; }

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #bbbbbb; }

.radio-container:hover input ~ .radio-checkmark--badge {
  background-color: #9e9e9e; }

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: #bbbbbb; }

.radio-container input:checked ~ .radio-checkmark--badge {
  background-color: #bbbbbb; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: '';
  position: absolute;
  display: none; }

.radio-checkmark--badge:after {
  content: '';
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block; }

.radio-container input:checked ~ .radio-checkmark--badge:after {
  display: block; }

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 2.5px;
  margin-left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white; }

.radio-container .radio-checkmark--badge:after {
  margin-left: 3px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white; }

/*
==========================
CUSTOM BADGE QUESTION
==========================
*/
.badge-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c";
  margin: 0 auto;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: -30px; }

.badge {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: none; }

.badge--1-container {
  grid-area: a; }

.badge--2-container {
  grid-area: b; }

.badge--3-container {
  grid-area: c; }

.badge--1, .badge--2, .badge--3 {
  border: none;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 3px 6px #e6e6e6; }

.badge--1 {
  background-color: #f5e3a1; }

.badge--1:hover {
  background-color: #f5db7e; }

.badge--2 {
  background-color: #caeb95; }

.badge--2:hover {
  background-color: #b5db79; }

.badge--3 {
  background-color: #f1ba65; }

.badge--3:hover {
  background-color: #ecac4b; }

.badge-title {
  text-align: center;
  font-size: 14px;
  color: #9e9e9e; }

.badge-subtext {
  font-size: 10px;
  text-align: center;
  color: #bbbbbb; }

.badge--chosen {
  border: 2px solid #15cf89; }

/*
==========================
BTN (3)
==========================
*/
.btn-container--3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  margin: 0 auto; }

.btn-3 {
  background-color: white;
  border: 1px solid #bbbbbb;
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  color: #bbbbbb;
  box-shadow: 0px 3px 6px #e6e6e6;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-3:hover {
  background-color: #78d5b2;
  color: white;
  border: none; }

.btn-3--green {
  background-color: #22b571;
  color: white;
  border: none; }

.btn-3--yellow {
  background-color: #ffcc00;
  color: white;
  border: none; }

.btn-3--red {
  background-color: #ef8585;
  color: white;
  border: none; }

/*
==========================
TEAM & USER DROPDOWNS
==========================
*/
.form-answer-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px; }

.skill-setter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 0px;
  height: 600px;
  grid-gap: 15px; }

.skill-subcategory {
  display: block;
  font-size: 14px;
  color: #7f7f7f;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6; }

.skill-subcategory--title {
  color: #D9D9D9;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  color: #9e9e9e; }

.skill-list {
  width: 100%;
  text-align: center;
  padding: 3px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 6px #e6e6e6;
  background-color: white;
  margin: 10px 0px;
  cursor: move; }
  .skill-list:hover, .skill-list:focus {
    background-color: #15cf89;
    color: white; }

.skill-list--chosen {
  position: relative;
  width: auto;
  margin: 0 auto;
  margin-left: 10%;
  margin-top: -37%;
  text-align: center;
  padding: 3px;
  box-shadow: 0px 3px 6px #e6e6e6;
  background-color: #15cf89;
  color: white;
  height: 100%;
  display: grid;
  align-content: center;
  font-size: 18px;
  letter-spacing: 1.5px; }

.skill-list--dragging {
  background-color: #15cf89;
  color: white; }

.skill-options {
  grid-column: 1 / 2;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 3px 6px #e6e6e6;
  background-color: #f8f8f8; }

.skill-chosen {
  grid-column: 2 / -1;
  background-color: #f8f8f8;
  box-shadow: 0px 3px 6px #e6e6e6; }

.chosen-skill-container {
  border-bottom: 1px solid #e6e6e6; }

.chosen-skill-container--is-over {
  box-shadow: 0px 3px 6px #e6e6e6;
  transform: scale(1.01); }

.chosen-skill-number {
  background-color: #e6e6e6;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  color: #bbbbbb;
  height: 100%;
  display: grid;
  align-content: center; }

.skill-containers-empty {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%; }
