.participants-table {
  thead,
  tfoot {
    background-color: #0079d3;
    color: #fff;
  }

  caption {
    padding: 10px;
    caption-side: bottom;
    text-align: left;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    width: 90%;
    box-shadow: -3px 0 3px 2px #e1e4e8;
    margin-top: 50px;
  }

  td,
  th {
    text-align: left;
    padding: 5px 10px;
  }

  td {
    text-align: left;
    a {
      text-decoration: none;
    }
  }
  tbody tr {
    height: 50px;
  }

  tbody tr:nth-of-type(even) {
    background-color: #edf1f5;
  }
}

.view-profile-link {
  color: #0079d3;
  border-radius: 5px;
  border: 1px solid #0079d3;
  padding: 4px 8px;
}
