@import '../styles/_variables.scss';

.intake-form-container {
  background-color: $palest-grey;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intake-form {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 20px;
}

.intake-form-title {
  font-size: 30px;
  padding: 30px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .intake-form {
    width: 80vw;
  }
  .intake-form-title {
    padding: 20px 0px;
  }
}